<!DOCTYPE html>
<html>
<head>
  <title>Edurater Singapore</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script srt="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.0/masonry.pkgd.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic" rel="stylesheet" type="text/css">
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="ratedGold" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-inverse navbar-fixed-top" id="navbarcustom">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/home" id="brandname">Edurater</a>
          </div>
          <ul class="nav navbar-nav navbar-right" id="navitems">
            <li><a href="#/enrichment">Enrichment</a></li>
            <li><a href="#/tuition">Tuition</a></li>
            <li><a href="#/skillsfuture">SkillsFuture</a></li>
            <li><a href="#">User Info</a></li>
          </ul>
        </div>
      </nav>
      <ui-view></ui-view>

    </div>
  </div>


  <script type="text/ng-template" id="/home.html">

    <div class="page-header">
      <center>
        <h3>Welcome to Edurater</h3>
        <p>Use our community recommendations to find the best educational experience for yourself and your loved ones</p>
      </center>
    </div>

    <div class=wrapper>
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        <div ng-repeat="provider in providers | orderBy:'-upvotes'" class="grid-item">
          <br>
          <a href="#/providers/{{provider._id}}"><img src="{{provider.imageUrl}}"></a>
          <br>
          <span class="glyphicon glyphicon-thumbs-up"
            ng-click="incrementUpvotes(provider)"></span>
          {{provider.upvotes}}
          <div><strong>{{provider.name}}</strong></div>
          <br>
          <div><strong><em>{{provider.category}}</em></strong></div>
          <br>
          <div><em>{{provider.description}}</em></div>
          <br>
          <span>
            <a href="#/providers/{{provider._id}}">{{provider.reviews.length}} Reviews</a>
          </span>
        </div>
      </div>
    </div>

    <div class="container main-submission-form">
    <form ng-submit="addProvider()"
      style="margin-top:30px;" class="form-horizontal">
      <h4>Know of another education or enrichment provider? Add it here!</h4>

      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-md-10">
        <input type="text"
          class="form-control"
          placeholder="e.g. The School of Hard Knocks"
          ng-model="name"></input>
        </div>
        </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="homepagelink">Provider Site:</label>
        <div class="col-md-10">
        <input type="text"
        class="form-control"
        placeholder="e.g. www.botakchek.com"
        ng-model="link"></input>
      </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description:</label>
        <div class="col-md-10">
        <input type="text"
        class="form-control"
        placeholder="e.g. best in SG, JB and some say Batam"
        ng-model="description"></input>
      </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="category">Category:</label>
        <div class="col-md-10">
        <input type="text"
        class="form-control"
        placeholder="e.g. tuition, enrichment, skillsfuture"
        ng-model="category"></input>
      </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="imageUrl">Image URL:</label>
        <div class="col-md-10">
        <input type="text"
        class="form-control"
        placeholder="e.g. www.imgur.com/gallery/AbCd"
        ng-model="imageUrl"></input>
      </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  </script>

  <script type="text/ng-template" id="/tuition.html">

    <div class="page-header">
      <center>
        <h3>Tuition Providers</h3>
        <p>Sometimes you just gotta do what you gotta do... with a little help from these mercenaries...</p>
      </center>
    </div>

    <div class=wrapper>
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        <div ng-repeat="provider in providers | orderBy:'-upvotes' | filter:{category:'tuition'}" class="grid-item">
          <br>
          <a href="#/providers/{{provider._id}}"><img src="{{provider.imageUrl}}"></a>
          <br>
          <span class="glyphicon glyphicon-thumbs-up"
            ng-click="incrementUpvotes(provider)"></span>
          {{provider.upvotes}}
          <div><strong>{{provider.name}}</strong></div>
          <br>
          <div><strong><em>{{provider.category}}</em></strong></div>
          <br>
          <div><em>{{provider.description}}</em></div>
          <br>
          <span>
            <a href="#/providers/{{provider._id}}">{{provider.reviews.length}} Reviews</a>
          </span>
        </div>
      </div>
    </div>

  </script>

  <script type="text/ng-template" id="/enrichment.html">

    <div class="page-header">
      <center>
        <h3>Enrichment Providers</h3>
        <p>What is this life, if, full of care, we have no time to stop and stare...</p>
      </center>
    </div>

    <div class=wrapper>
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        <div ng-repeat="provider in providers | orderBy:'-upvotes' | filter:{category:'enrichment'}" class="grid-item">
          <br>
          <a href="#/providers/{{provider._id}}"><img src="{{provider.imageUrl}}"></a>
          <br>
          <span class="glyphicon glyphicon-thumbs-up"
            ng-click="incrementUpvotes(provider)"></span>
          {{provider.upvotes}}
          <div><strong>{{provider.name}}</strong></div>
          <br>
          <div><strong><em>{{provider.category}}</em></strong></div>
          <br>
          <div><em>{{provider.description}}</em></div>
          <br>
          <span>
            <a href="#/providers/{{provider._id}}">{{provider.reviews.length}} Reviews</a>
          </span>
        </div>
      </div>
    </div>

  </script>

  <script type="text/ng-template" id="/skillsfuture.html">

    <div class="page-header">
      <center>
        <h3>SkillsFuture Training Providers</h3>
        <p>Remember you can claim <a href="http://www.skillsfuture.sg/credit">skillsfuture credits</a> for these courses</p>
      </center>
    </div>

    <div class=wrapper>
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        <div ng-repeat="provider in providers | orderBy:'-upvotes' | filter:{category:'skillsfuture'}" class="grid-item">
          <br>
          <a href="#/providers/{{provider._id}}"><img src="{{provider.imageUrl}}"></a>
          <br>
          <span class="glyphicon glyphicon-thumbs-up"
            ng-click="incrementUpvotes(provider)"></span>
          {{provider.upvotes}}
          <div><strong>{{provider.name}}</strong></div>
          <br>
          <div><strong><em>{{provider.category}}</em></strong></div>
          <br>
          <div><em>{{provider.description}}</em></div>
          <br>
          <span>
            <a href="#/providers/{{provider._id}}">{{provider.reviews.length}} Reviews</a>
          </span>
        </div>
      </div>
    </div>

  </script>

  <script type="text/ng-template" id="/providers.html">

    <div class="page-header">
      <h3><div><strong>{{provider.name}}</strong></div></h3>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div ng-show="provider.imageUrl"><img src="{{provider.imageUrl}}" width=400></div>
          <br>
          <a ng-show="provider.link" href="{{provider.link}}">
            Visit this provider's homepage for more information
          </a>
        </div>

        <div class="col-md-6">
          <div ng-show="provider.category">
            <h4>Category</h4>
              <p>{{provider.category}}</p>
          </div>
          <br>
          <div><h4>Description</h4>
              <p>{{provider.description}}</p>
          </div>
          <br>
          <h4>Reviews</h4>
          <div ng-repeat="review in provider.reviews | orderBy:'-upvotes'">
            <span class="glyphicon glyphicon-thumbs-up"
              ng-click="incrementUpvotes(review)"></span>
            {{review.upvotes}} - by {{review.author}}
            <span style="font-size:14px; margin-left:10px;">
              {{review.body}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="main-submission-form">
      <form ng-submit="addReview()" style="margin-top:30px;" class="form-horizontal">
        <h4>Have you taken a course by this provider? Add a review here:</h4>

        <div class="form-group">
          <label class="control-label col-sm-2" for="category">Category:</label>
          <div class="col-md-10">
          <input type="text"
          class="form-control"
          placeholder="e.g. now I've... had... the time of my life..."
          ng-model="body"></input>
        </div>
      </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
          <br>
      </form>
    </div>

  </script>

</body>
</html>
