body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #FFCC00;*/
  background-color: #FCD036;
}

a {
  color: #00B7FF;
}

#navbarcustom {
  background-color: #333333;
}

.nav.navbar-nav.navbar-right li a {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #FFCC00;
}

.btn-primary {
  background-color: #333333;
  margin-left: 30%;
  border-color: black;
}

.btn-primary:hover {
  background-color: #666666;
  border-color: black;
}

#brandname {
  font-family: 'Playfair Display', serif;
  color: #FFCC00;
}

.form-group input {
  width: 50%;
}

.main-submission-form {
  /*background-color: lightGrey;*/
  width: 800px;
  font-family: 'Playfair Display', serif;
}

.page-header {
  font-family: 'Playfair Display', serif;
}

/*use masonry*/
.wrapper {
    width: 95%;
    margin: 3em auto;
}

.grid {
  /*column-count: 4;
  column-gap: 1em;*/
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}

.grid-item {
  /*background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;*/
  display: inline-block;
    background: #eee9e9;
    padding: 0em 1em 1em 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 4px 4px 8px 0 #ccc;
}

.grid-item img {
  width: 100% !important;
  height: auto !important;
}

@media only screen and (min-width: 400px) {
    .grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .grid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .grid {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}
/*use masonry*/
